@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth text-gray-950;
}

@layer base {
    :root {
        --primary: #203b72;
        --primary-hover: #182c54;
        --secondary: #009ddc;
        --primary-shade: rgba(32, 59, 114, .1);
        --secondary-shade: rgba(0, 157, 220, .1);

        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
    
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
     
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
     
        --primary-foreground: 0 0% 98%;
        --secondary-foreground: 0 0% 9%;
     
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
     
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
     
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
    
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
     
        --radius: 0.5rem;
        --transition: all .3s ease-in-out;
        --dark-overlay: rgba(0, 0, 0, .65);

        --color--green: #b6e8d5;
        --curve: cubic-bezier(.65,0,.45,1);
    }

    body {
        &::-webkit-scrollbar {
            @apply relative w-[14px];
        }
        &::-webkit-scrollbar-track {
            @apply bg-white rounded-2xl;
        }
        &::-webkit-scrollbar-thumb {
            @apply bg-slate-500 rounded-xl;
            border: 4px solid white;
        }
        &::-webkit-scrollbar-thumb:hover {
            @apply bg-slate-500 lg:cursor-pointer;
        }
    }

    .slide {
        &::-webkit-scrollbar {
            @apply relative w-full;
        }
        &::-webkit-scrollbar-track {
            @apply bg-slate-100 rounded-2xl;
        }
        &::-webkit-scrollbar-thumb {
            @apply bg-slate-400 rounded-xl;
            border: 4px solid rgb(241 245 249 / var(--tw-bg-opacity));
        }
        &::-webkit-scrollbar-thumb:hover {
            @apply bg-slate-500 lg:cursor-pointer;
        }
    }

    h1 {
        @apply leading-tight !important;
    }

    h1 {
        @apply text-4xl md:text-5xl text-balance font-bold;
    }

    h2 {
        @apply text-3xl md:text-4xl text-balance font-bold;
    }

    h3 {
        @apply text-2xl text-balance font-bold;
    }

    .bg-primary {
        background-color: var(--primary);
    }

    .btn-primary {
        @apply text-white;
        background: var(--primary);

        &:hover {
            background-color: var(--primary-hover);
        }
    }

    form input:focus {
        border-color: var(--primary);
        --tw-ring-color: transparent;
    }

    form textarea:focus {
        border-color: var(--primary);
        --tw-ring-color: transparent;
    }

    .btn-primary-ghost {
        @apply hover:text-white;
        border-color: var(--primary);
        color: var(--primary);

        &:hover {
            background-color: var(--primary);
        }
    }

    .text-prim {
        color: var(--primary);
    }

    .about {
        svg {
            circle {
                fill: var(--primary);
            }
        }
    }

    .info {
        svg {
            stroke: var(--primary);
        }
    }

    /* Dark Theme */ 
    .dark {

        body {
            &::-webkit-scrollbar-track {
                @apply bg-slate-900;
            }
            &::-webkit-scrollbar-thumb {
                @apply bg-slate-500 border-slate-900;
            }
            &::-webkit-scrollbar-thumb:hover {
                @apply bg-slate-500;
            }
        }

        .slide {
            &::-webkit-scrollbar-track {
                @apply bg-slate-900;
            }
            &::-webkit-scrollbar-thumb {
                @apply bg-slate-500 border-slate-900;
            }
            &::-webkit-scrollbar-thumb:hover {
                @apply bg-slate-500;
            }
        }

        .text-prim {
            @apply text-white;
        }

        .btn-primary-ghost {
            @apply border border-slate-500 text-white;
        }
    
        .btn-call {
            @apply border border-slate-500;
        }
    
        .about {
            svg {
                circle {
                    @apply fill-white;
                }
            }
        }
    
        .info {
            svg {
                @apply stroke-white;
            }
        }
    }
}
 
.btn {
    @apply px-12 py-3 rounded-full font-semibold transition-all;
}

.btn-primary-ghost {
    @apply inline-block border hover:text-white;
}

header {
    @apply bg-white dark:bg-gray-900 py-5;

    .container {
        @apply flex flex-wrap items-center justify-between;
    }

    ul {
        @apply md:items-center md:text-base;

        li {
            @apply pl-8;

            &:last-of-type {
                @apply pr-0;
            }

            a,
            .link {
                @apply block py-2 cursor-pointer;
            }

            .link {
                @apply relative;
                
                &:after {
                    @apply bg-gray-800 absolute right-0 top-[-1.25rem] left-0 w-full h-[2px] m-0 dark:bg-white content-[''];
                    transform: scaleX(0);
                    transition: var(--transition);
                }

                &:hover {
                    &:after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

form {
    input, textarea {
        @apply w-full rounded-md border py-3 px-4 text-base font-medium outline-none focus:shadow-md;
    }

    .btn {
        background: var(--primary);
    }
}

footer {
   @apply dark:bg-gray-900 dark:text-white;

   .hold {
        @apply text-center py-8 border-t border-t-slate-200 dark:border-t-slate-600;
   }
}

/* https://cssloaders.github.io/ */
.loader {
    @apply w-full h-full sm:max-w-[600px] sm:h-[650px] mx-auto bg-white absolute left-0 right-0;

    @media (max-width:1400px) {
        @apply sm:h-[550px];
    }

    span {
        @apply mx-auto block mt-[40%] w-[60px] h-[60px] rounded-full;
        border: 5px solid rgb(241 245 249 / var(--tw-bg-opacity));
        border-bottom-color: var(--primary);
        animation: rotation 1s linear infinite;
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Used after form submit */
.checkmark {
    @apply block w-[150px] h-[150px] mx-auto mt-[3rem] stroke-green-600 rounded-full;
    box-shadow: inset 0 0 0 var(--color--green);
    stroke-width: 3;
    stroke-miterlimit: 10;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;

    .c_circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 0;
        stroke-miterlimit: 10;
        stroke: var(--color-green);
        fill: none;
        animation: stroke .6s var(--curve) forwards;
    }
    
    .c_check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        /*stroke-dashoffset: 48;*/
        animation: stroke .3s var(--curve) .8s forwards;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0 0 0 100px var(--color--green);
    }
}

.s-error {
    @apply bg-red-200 border border-red-300 text-red-600 rounded-md px-3 pt-3 pb-2 mb-4;
}