.menu-icon {
    @apply inline-block align-middle relative w-[24px] h-[20px] cursor-pointer;
    transition: var(--transition);
    z-index: 20;

    span,
    span::after,
    span::before {
        @apply bg-slate-900 dark:bg-white block absolute top-[50%] left-0 content-[''] w-full h-[2px] rounded-lg cursor-pointer;
        transition: var(--transition);
    }

    span {
        &::before {
            @apply top-[-7px] left-0;
        }

        &::after {
            @apply top-[7px] left-0;
        }
    }

    &.active {
        @apply fixed right-[1rem] top-[1.9rem];

        span {
            @apply bg-transparent !important;

            &::after,
            &::before {
                @apply bg-slate-900 dark:bg-white top-0;
            }

            &::before {
                transform: rotate(135deg);
            }

            &::after {
                transform: rotate(-135deg);
            }
        }
    }
}

.mobile-menu {
    @apply lg:hidden;

    .mobile-overlay {
        @apply fixed top-0 right-0 w-full h-full;
        transition: var(--transition);
        background: var(--dark-overlay);
        z-index: 11;
    }

    .holder {
        @apply bg-white dark:bg-slate-700 fixed top-0 right-[-85%] w-[85%] max-w-[400px] h-full pt-20;
        transition: var(--transition);
        z-index: 12;

        &.active {
            @apply right-0;
        }

        .link {
            @apply w-full text-center font-semibold text-xl mb-4;
        }

    }
}