.intro {
    @apply relative bg-no-repeat bg-center bg-cover bg-slate-200 py-20;
    background-image: url('/img/space-head.jpg');

    &::after {
        @apply absolute top-0 left-0 w-full h-full content-[''];
    }

    .container {
        @apply relative z-10;
    }

    .jumbotron {
        @apply max-w-[600px] bg-white dark:bg-gray-900 py-8 px-5 mx-4 md:mx-0 md:px-[60px] md:py-[40px] text-center md:text-left;


        h1 {
            @apply mb-4 md:mb-8 text-balance dark:text-white;
        }

        .starsnippet {
            @apply md:mt-[-1rem] mb-4 flex md:justify-start justify-center;

            svg {
                @apply mr-1;
            }
        }

        .subtitle {
            @apply mb-8 lg:mb-10 text-lg font-medium text-balance dark:text-gray-300;
        }

        .btns-hold {
            @apply grid sm:grid-cols-2 gap-6 mx-auto max-w-[245px] sm:max-w-full;
        }

        .btn {
            @apply text-center h-[60px]; 
        }

        .btn-call {
            @apply relative text-center py-2 px-6;

            span {
                @apply text-sm block font-normal;
            }

            svg {
                @apply absolute left-4 top-5;
            }
        }

        .btn-primary-ghost {
            @apply py-4 px-5 cursor-pointer w-full;
        }
    }
}

.about {
    @apply pt-16 lg:pt-20 dark:bg-slate-800;

    .seotext {
        @apply text-lg;

        h3 {
            @apply mt-4 mb-3;
         }

        h2, h3 {
            strong, b {
                @apply font-semibold;
            }
        }

        p {
            @apply mb-2;
        }
    }

    figure {
        @apply relative z-10 lg:h-[420px] w-full 2xl:ml-10 lg:mb-24;

        .hold {
            @apply relative mx-auto lg:ml-0 lg:h-[420px] xl:w-[370px] overflow-hidden rounded-xl;

            img {
                @apply rounded-xl lg:transform lg:transition lg:duration-500 lg:hover:scale-105 mx-auto mt-4 max-w-[450px] lg:mt-0 lg:absolute lg:max-w-none w-auto h-[300px] lg:h-full;
            }
        }

        span {
            @apply hidden absolute lg:block lg:-left-[3rem] -bottom-10 z-[-1];
        }
    }
}

.gallery {
    @apply py-16 lg:pb-28 dark:bg-slate-800;
    

    .slide {
        @apply flex gap-4 overflow-x-auto pt-2 pb-4;
    }

    figure {
        @apply min-w-[290px];
        
        img {
            @apply lg:transform lg:transition lg:duration-500 lg:hover:scale-105 border border-gray-100 shadow-sm dark:border-slate-700;
        }
    }
}

.klickstrecke {
    @apply bg-slate-100 py-16 lg:py-20 text-center lg:text-left dark:text-white dark:bg-slate-900;

    .service-grid {
        @apply flex gap-6 xl:gap-8 justify-center;
        flex-wrap: wrap;
    }

    .card {
        @apply min-h-[150px] max-w-[190px] w-[44%] sm:w-[30%] md:w-[22%] xl:w-[14%] flex flex-col border border-gray-100 bg-white rounded-xl px-2 pt-8 pb-3 text-center cursor-pointer transition-shadow hover:shadow-md dark:bg-slate-800 dark:border-slate-700 dark:hover:shadow-slate-400;

        img {
            @apply mx-auto;
        }

        .service {
            @apply flex items-center h-full mt-3 justify-center font-semibold text-balance;
            hyphens: auto;
        }
    }

    .sonstiges {
        @apply text-center mt-8 underline cursor-pointer;
    }
}

.ratings {
    @apply bg-slate-50 dark:bg-gray-800 dark:text-white py-12 lg:py-20;

    svg {
        @apply mr-1;
    }

    .headline {
        @apply text-lg font-semibold mb-6 text-center;
    }

    .headline-criteria {
        @apply flex text-lg font-semibold mb-6 justify-center lg:justify-start;

        p {
            &::first-letter {
                text-transform: capitalize;
            }
        }
    }

    .summary {
        @apply bg-white dark:bg-slate-900 dark:border-slate-800 border border-slate-50 rounded-full w-[9rem] h-[9rem] text-center pt-9 px-5 mx-auto mb-3;
    }

    .source {
        @apply flex lg:ml-10 xl:ml-16 items-center mb-6 w-[265px] mx-auto;

        .thumb {
            @apply bg-white rounded-full w-[60px] h-[60px] overflow-hidden text-center mr-4 p-2;
        }

        .average {
            @apply flex text-lg items-center;
        }
    }

    .rate {
        @apply px-4 py-10 sm:px-10 bg-white border border-slate-50 rounded-lg mb-8 dark:bg-slate-900 dark:border-slate-800;
   
        .name {
            @apply mt-5 text-lg font-semibold;
        }

        .criteria {
            @apply mt-5 grid md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-8;
        }

        .title {
            @apply text-lg font-semibold my-3;
        }
    }

    .progress {
        @apply flex items-center;

        .line {
            @apply bg-slate-200 rounded-lg h-[3px] mr-3 dark:bg-slate-600;
            width: calc(100% - 60px);

            .value {
                @apply bg-orange-400 rounded-lg h-full;
            }
        }
    }

    .averageCriteria {
        @apply lg:flex lg:w-full max-w-[450px] mx-auto;

        .txt {
            @apply text-sm font-semibold w-[115px] min-w-[115px];
        }

        .line {
            @apply lg:w-[200px] xl:w-[240px];
        }
    }
}

.contact {
    @apply bg-white py-16 lg:py-20 text-center lg:text-left relative dark:bg-gray-900 dark:text-white;

    .pattern-top {
        @apply hidden 2xl:block absolute top-16 left-16;
    }

    .pattern-bottom {
        @apply hidden 2xl:block absolute bottom-16 right-16;
    }

    .pattern-top,
    .pattern-bottom {
        svg {
            circle {
                @apply fill-slate-900 dark:fill-gray-400;
            }
        }
    }

    .info {
        @apply flex mb-2 justify-center lg:justify-start;

        svg {
            @apply mr-3;
        }
    }

    .workinghours {
        @apply mb-2;
    
        span {
            @apply w-[110px] inline-block;
        }
    }

    form {
        input, textarea {
            @apply bg-slate-100 dark:bg-slate-700 dark:border-slate-700 dark:focus:border-slate-400 placeholder-slate-300 dark:placeholder-slate-600 focus:placeholder-opacity-0;
        }

        textarea {
            @apply min-h-[150px];
        }
    }

    .response {
        .success {
            @apply bg-green-700 text-green-100 py-3 px-2 text-center rounded-md;
        }

        .error {
            @apply bg-red-700 text-red-100 py-3 px-2 text-center rounded-md;
        }
    }
}

/* Modal */
.callus {
    @apply sm:max-w-[800px] max-w-[94%] bg-white dark:bg-slate-800 dark:border-slate-700 dark:text-white p-10 rounded-xl lg:-mb-28 shadow-lg text-center;

    form {
        input {
            @apply bg-slate-100 dark:bg-slate-700 dark:border-slate-600 dark:placeholder-slate-500 dark:focus:border-slate-400 placeholder-gray-300 dark:focus:placeholder-opacity-0 focus:placeholder-opacity-0;
        }

        .phone {
            @apply relative;
            &:before {
                @apply content-['+'] absolute top-[2.75rem] left-[1rem];
                z-index: 2;
            }

            input {
                @apply pl-8;
            }
        }
    }

    .response {
        @apply text-3xl font-medium absolute top-0 left-0 bg-white pt-[5rem] dark:bg-slate-700;
        width: calc(100% - 4rem);
        height: calc(100% - 4rem);
        margin: 2rem;
        z-index: 5;

        .success {
            @apply text-green-600 dark:text-slate-300;
        }

        .error {
            @apply text-red-700;
        }
    }
}