/* Verticals */
* {
    &.tischler-schreiner {
        --primary: #555555;
        --primary-hover: #20070b;
        --secondary: #49111a;
        --primary-shade: rgba(85, 85, 85, .1);
        --secondary-shade: rgba(73, 17, 26, .1);

        .intro {
            background-image: url('/img/vertical/tischler-schreiner.jpg');

            &::after {
                background-color: rgba(255,255,255, 0.25);
            }
        }

        footer {
            img {
                @apply h-[45px] !important;
            }
        }
    }

    &.gartenbau {
        --primary: #7b9f57;
        --primary-hover: #688649;
        --secondary: #ff6800;
        --primary-shade: rgba(123, 159, 87, .1);

        .intro {
            background-image: url('/img/vertical/gartenbau.jpeg');

            &::after {
                background-color: rgba(255,255,255, 0.15);
            }
        }

        footer {
            img {
                @apply h-[30px] !important;
            }
        }
    }

    &.maler {
        --primary: #485266;
        --primary-hover: #384050;
        --secondary: #ffbb00; 

        .intro {
            &::after {
                background-color: rgba(0,0,0, 0.25);
            }
        }
    }

    &.dachdecker {
        --primary: #1e3b85;
        --primary-hover: #172d66;
        --secondary: #993d2b;

        .intro {
            &::after {
                background-color: rgba(0,0,0, 0.25);
            }
        }
    }
}